.plus{
    padding:6px 5px;
    margin-left: -4px;
    width: 10px;
    background-color: #ebebeb;

}

.sum{
    margin: 0;
    border: #ebebeb;
}
.reduce{
    padding:6px 7px;
    margin-left: 0px;
    width: 10px;
    margin-right: -5px;
    background-color: #ebebeb;
}

#userMsgUL li:hover{
    background-color: #ebebeb;
    cursor: pointer;
}