<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>404 你要的页面已经找不到了~</title>
    <link rel="stylesheet" href="../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../frame/static/css/style.css">

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/productList.css">

    <link rel="icon" href="../frame/static/image/code.png">
    <style>
        #addProduct {
            padding-top: 20px;
        }

        ul li {
            display: inline-block;
        }

        .uploadImg input {
            display: none;
        }

        .div_color {
            width: 18px;
            height: 18px;
            float: left;
            margin-top: 10px;
            position: relative;
            right: -8px;
            border-radius: 2px;
            display: inline-block;
        }

        .ul_color li {
            float: left;
            width: 800px;
        }

        .checkboxDiv .div_ {
            float: left;
        }
        #UEditorTxt{
            /*padding-right: 15px!important;
            height: 200px;*/
        }
    </style>
</head>
<body class="body" bgcolor="white">
<!--文本编辑器-->
<script type="text/javascript" charset="utf-8">
    var editor = new baidu.editor.ui.Editor();
    editor.render("UEditorTxt");
</script>
<!--添加商品-->
<div id="addProduct" class="layui-container">
    <form class="layui-form layui-form-pane" id="addProductForm" name="addProductForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">实卖价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="price" lay-verify="required" placeholder="￥" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-inline">
                <input type="text" name="num" lay-verify="required" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">颜色</label>
                <div class="layui-input-inline">
                    <div class="layui-row checkboxDiv">
                        <div class="layui-col-md12">
                            <ul class="ul_color">
                                <li>
                                    <div class="div_">
                                        <div class="div_color" style="background: red"></div>
                                        <input type="checkbox" value="红色" name="colorList[0].color" title="红色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: green"></div>
                                        <input type="checkbox" value="绿色" name="colorList[1].color" title="绿色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: blue"></div>
                                        <input type="checkbox" value="蓝色" name="colorList[2].color" title="蓝色"
                                               lay-skin="primary" checked>
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: black"></div>
                                        <input type="checkbox" value="黑色" name="colorList[3].color" title="黑色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color"
                                             style="background: white;border: 1px solid #ebebeb"></div>
                                        <input type="checkbox" value="白色" name="colorList[4].color" title="白色"
                                               lay-skin="primary">
                                    </div>
                                </li>
                                <li>
                                    <div class="div_">
                                        <div class="div_color" style="background: yellow"></div>
                                        <input type="checkbox" value="黄色" name="colorList[5].color" title="黄色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: #88500d"></div>
                                        <input type="checkbox" value="褐色" name="colorList[6].color" title="褐色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: #cc22c2"></div>
                                        <input type="checkbox" value="紫色" name="colorList[7].color" title="紫色"
                                               lay-skin="primary" checked>
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="background: pink"></div>
                                        <input type="checkbox" value="粉色" name="colorList[7].color" title="粉色"
                                               lay-skin="primary">
                                    </div>
                                    <div class="div_">
                                        <div class="div_color" style="color: gray"></div>
                                        <input type="checkbox" value="灰色" name="colorList[9].color" title="灰色"
                                               lay-skin="primary">
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">大小</label>
            <div class="layui-input-block">
                <input type="checkbox" name="productSizeList[0].size" value="35" title="35" checked>
                <input type="checkbox" name="productSizeList[1].size" value="36" title="36">
                <input type="checkbox" name="productSizeList[2].size"  value="37" title="37">
                <input type="checkbox" name="productSizeList[3].size" value="38.5" title="38.5">
                <input type="checkbox" name="productSizeList[4].size"value="39" title="39">
                <input type="checkbox" name="productSizeList[5].size"value="40" title="40">
                <input type="checkbox" name="productSizeList[6].size"value="41.5" title="41.5">
                <input type="checkbox" name="productSizeList[7].size" value="42"title="42">
                <input type="checkbox" name="productSizeList[8].size" value="43.5"title="43.5">
                <input type="checkbox" name="productSizeList[9].size"value="45" title="45">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文本域</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" lay-verify="required" name="describe" class="layui-textarea"></textarea>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">商品详情排版</label>
            <div class="layui-input-block" id="UEditorTxt">
                <!--<textarea placeholder="请输入内容" id="UEditorTxt" lay-verify="required" name="describe" class="layui-textarea"></textarea>-->
            </div>
        </div>




        <div class="layui-form-item">
            <button class="layui-btn" value="1" type="button" id="formDemo">立即提交</button>
            <button type="reset" value="1" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>


    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">小图片</li>
            <li>中图片</li>
            <li>大图片</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <ul class="uploadImg">
                    <input onchange="openFile(event)" id="uploadfile" style="margin-left:170px;" type="file"
                           name="uploadFile">
                    <input onchange="openFile2(event)" style="margin-left:170px;" type="file" name="uploadFile">
                    <input onchange="openFile3(event)" style="margin-left:170px;" type="file" name="uploadFile">
                </ul>
                <ul class="uploadImg">
                    <li>
                        <img onclick="$('input[id=uploadfile]').click();" id="myImg"
                             style="width:100px;height:100px;border:2px double #ebebeb " src="">
                    </li>
                    <li>
                        <img alt="" id="myImg2" style="width:100px;height:100px;border:2px double #ebebeb " src="">
                    </li>
                    <li>
                        <img alt="" id="myImg3" style="width:100px;height:100px;border:2px double #ebebeb " src="">
                    </li>
                </ul>
            </div>
            <div class="layui-tab-item">
                <img alt="" id="myImg" style="width:150px;height:150px;border:2px double #ebebeb " src="">
                <img alt="" id="myImg2" style="width:150px;height:150px;border:2px double #ebebeb " src="">
                <img alt="" id="myImg3" style="width:150px;height:150px;border:2px double #ebebeb " src="">
            </div>
            <div class="layui-tab-item">
                <img alt="" id="myImg" style="width:200px;height:200px;border:2px double #ebebeb " src="">
                <img alt="" id="myImg2" style="width:200px;height:200px;border:2px double #ebebeb " src="">
                <img alt="" id="myImg3" style="width:200px;height:200px;border:2px double #ebebeb " src="">
            </div>
        </div>
    </div>


</div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="../frame/layui/layui.js"></script>
    <!--文本编辑器-->
    <script type="text/javascript" charset="utf-8" src="/UEditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/UEditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="/UEditor/lang/zhcn/zhcn.js"></script>


    <script type="text/javascript">
        <!--选项卡-->
        layui.use('element','form', function () {
            var element = layui.element;
            var form = layui.form;
            form.render();
        });
        //如果表单为空
        $(function () {
            $("#formDemo").click(function () {
                var str = "";
                for (var i = 0; i < document.addProductForm.elements.length - 1; i++) {
                    if (document.addProductForm.elements[i].value == "") {
                        str +="+";
                    }
                }
                if (str.length == 0) {
                    layer.msg($("#addProductForm").serialize());
                    $.post("/mall/addProduct", $("#addProductForm").serialize(), function (data) {
                        layer.alert(JSON.stringify(data))
                    })
                }else{
                    layer.alert("表单不允许有空项", {icon: 2})
                }
            })
        })


        //图片回显
        function openFile(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById("myImg");
                output.src = dataURL;
            };
        };

        function openFile2(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById("myImg2");
                output.src = dataURL;
            };
        };

        function openFile3(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById("myImg3");
                output.src = dataURL;
            };

        };
    </script>



</body>
</html>